doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
      div.header Header
    block blogNavigation 
      div.blogNavigation Blog Navigation
    block main
      div.main Main Content 