doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
      div Header
    block blogNavigation 
      div Blog Navigation
    block main
      div Main Content 