body {
  width: 1200px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  display: grid;
  grid-template-columns: [line1]10% [line2]auto;
  grid-template-rows: [row1]10% [row2]500px [row3]100px;  /* row2 must be 'auto' in full page */
}

a {
  color: #00b7ff; /* delete / change ?? */
}

.header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  border: 1px solid black;
  background-color: red; /* only for test purpose*/
}

.blogNavigation {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  border: 1px solid black;
  background-color: green; /* only for test purpose*/
}

.main {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: yellow; /* only for test purpose*/
}

.impressum {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: blue; /* only for test purpose*/
  
}
